body {
	background: url(../images/outerspace_landscape.jpeg);
	background-size: cover;
}

nav {
	width: 100%;
	position: fixed;
	background: grey;
	padding-left: 60px;
	padding-right: 60px;
	height: 60px;
}

.icon-img {
	position: relative;
	/*left: 10px;
	top: 30px;*/
	vertical-align: middle;
	margin-top: 5px;
 	margin-bottom: 5px;
	border-radius: 50%;
	border: 1px solid black;
	height: 50px;
}

nav ul li {
	display: inline-block;
	position: relative;
	left: 100px;
	vertical-align: middle;
	/*font-size: 20px;*/
}

li:after {
	content: "|";
	margin-left: 3px;
}

div.green_box {
	border: 10px dotted green;
	width: 600px;
	height: 300px;
	position: absolute;
	top: 30%;
	left: 30%;
}

div.green_box img {
	width: 200px;
	height:200px;
}

.spacecat {
	position: relative;
	left: -100px;
	top: -100px;
}

.spacedog {
	position: relative;
	left: 280px;
	top: 150px;
}